@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
.client_sidebar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 85px; 
    height: 100%; 
    border-right: 1px solid #ccc; 
    overflow-y: auto; 
    z-index: 100;
    background-color: white; 
    transition: width 0.3s ease; 
}


.client_sidebar::-webkit-scrollbar {
    width: 2px; 
}

.client_sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.client_sidebar::-webkit-scrollbar-thumb {
    background: #3155b9; 
    border-radius: 5px; 

}

.client_sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Custom Scrollbar for Firefox */
.client_sidebar {
    scrollbar-width: none; 
    scrollbar-color: #7d71a9 #f1f1f1; 

}

.client_sidebar_Container {
    display: flex;
    flex-direction: column;

    .mainItems {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 45px;
        width: 100%;
        margin-top: 15px;
        padding: 10px;

        img {
            height: 55px;
            width: 100%;
            object-fit: cover;
        }
   
    }

    .menuItems {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
 .lik{
    text-decoration: none ;
    color: inherit;

     /* background: red; */

 }
        .link {
            text-decoration: none ;
            color: inherit;
            border-radius: 5px;
            /* background: red; */
            padding: 5px 0px 5px 30px;
        
        }

        .Item {
            display: flex;
            align-items: center;
            border-radius: 5px;
            padding: 10px;
            gap: 5px;
            cursor: pointer;
            justify-content: space-between;
            font-weight: bold;
            background-color: #f2f8fd;
            transition: padding 0.3s ease; 
            

            .itemsecond {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 12px;

                .itemIcon {
                    color: #0b344f;
                }

                .itemname{
                    display: none;
                    font-weight: bold;
                    font-size: 15px;
                }
            }

            &:hover {
                color: #072684;
            }
        }

        .submenuItems {
            height: max-content;
            display: flex;
            flex-direction: column;
            gap: 10px;
            display: none;
       
           

            .submenu {
                display: flex;
                align-items: center;
      
                cursor: pointer;
                border-radius: 5px;
                padding: 3px;
                margin-left: 20px;
                font-size: 15px;
                color: #164f76;
                transition: color 0.3s ease;
                display: none;
                font-weight: 600;

                &:hover {
                  color: #0b344f;
                    animation: shake 0.5s ease;

                }
              
             
            }
        
       
        }
    }
}

.client_sidebar:hover {
    width: 255px;
}

.client_sidebar:hover .client_sidebar_Container .menuItems .Item .itemsecond .itemname {
    display: inline;
}

.client_sidebar:hover .client_sidebar_Container .menuItems .submenuItems .submenu {
    display: inline;
}
.client_sidebar:hover .client_sidebar_Container .menuItems .submenuItems     {
    display: flex;
    flex-direction: column;
}



